# Základní datové struktury
**`tuple()`**
kolekce lib. objektů, nelze měnit

**`list()`**
kolekce lib. objektů

**`set()`** 
kolekce lib. unikátních objektů

**`dict()`**
slovník, key-value

## N-tice (tuple)
Neměnné pole (indexujeme od 0).

je neměnný a k jednotlivým prvkům mhu přistoupit pomocí `[]`, obdobně jako jsme to již dělali u řetězce.

N-tice a přístup k prvnímu prvku

In [3]:
ntice = (1, 2, 3,)
ntice

(1, 2, 3)

N-tice a přístup k poslednímu prvku

In [9]:
ntice = (1, 2, 3)
ntice[-1]

3

Přístup mimo rozsah N-tice

In [12]:
ntice = (1, 2, 3)
ntice[3]

IndexError: tuple index out of range

N-tice mohou obsahovat různé typy

In [13]:
("má", 4, ("smíšené", "datové typy"))

('má', 4, ('smíšené', 'datové typy'))

takzvaný "tuple unpacking" = rozbalení

In [14]:
a, b, c = (1, 2, 3)
c

3

In [13]:
n = 1, 2
a, b = 1, 2
a, b = b, a

test zda N-tice obsahuje prvek

In [16]:
ntice = (1, 2, 3)
2 in ntice

True

> #### Příklad:
> 1. Vytvořte ntici obsahujíci 2, 3, 4, 5 mocninu z uživatelem zadaného čísla.
> 2. Poté se zeptejte uživatele na číslo a ověřte, jestli je obsaženo ve vytvožené ntici.

In [17]:
cislo = int(input("Zadej cislo"))
mocniny = (cislo**2, cislo**3, cislo**4, cislo**5)
mocnina = int(input("Hadej mocninu"))
mocnina in mocniny

False

### Jednoprvké tuple
Zamyslete se nad následujícím kouskem kódu, co vlastně vytváří?

In [17]:
t = (1)
type(t)

tuple

Python interpretuje (naprosto logicky a správně) výraz `(1)`, jehož výsledek je jedna.

Jak tedy vytvořit jednoprvkový tuple?
Jedna varianta je použit funkci:

In [1]:
tuple(1)

TypeError: 'int' object is not iterable

Ale nebyl by to python, kdyby nenabízel lepší řešení:

In [18]:
1,

(1,)

In [19]:
a = (1, 2)

In [20]:
t = a * 10
t

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [21]:
t[:3]

(1, 2, 1)

## Seznam (list)
Jako N-tice, akorát jej lze měnit.

K prvkům seznamu přistupuji přes indexy v `[]` stejně jako u řetězce nebo n-tice.

Vytvoření seznamu pomocí hranatých závorek

In [22]:
seznam = [1, 2, 3]
print(seznam)

[1, 2, 3]

prázdný list pomocí

In [23]:
seznam = []
print(seznam)

[]

nebo pomocí funkce `list()` a ntice případně jiné stuktury

In [25]:
ntice = (1,2,3) 
print(ntice)
seznam = list(ntice)
print(seznam)

(1, 2, 3)
[1, 2, 3]

Podobně jako `tuple` může obsahovat různé prvky

In [29]:
seznam = (123,'abc',1.23)
print(seznam)
seznam[0] = 8
print(seznam)

(123, 'abc', 1.23)

TypeError: 'tuple' object does not support item assignment

> #### Příklad:
> Uživatel zadá seznam čísel oddělených mezerami.
> Metodou `split` z něj vytvoříte seznam.
>
> Vypište druhé a před-poslední prvek seznamu.

In [36]:
seznam = input("Zadej čísla oddělená mezerou: ").split()
seznam[1], seznam[-2]

('2', '3')

Určení počtu prvků v seznamu pomocí funkce `len()`

In [ ]:
seznam = [123,'abc',1.23]
len(seznam)

Dotaz na přítomnost prvku v seznamu

In [30]:
seznam = [123,'abc',1.23]
prvek = 66
prvek in seznam

False

### Operace se seznamy (nemění vstupní seznam)
Seznamy můžeme sečíst, původní zůstanou nezměněné

In [31]:
seznam = [123,'abc',1.23]
seznam + [4,5,6]

[123, 'abc', 1.23, 4, 5, 6]

Seznamy můžeme i násobit číslem

In [38]:
seznam = [123,'abc',1.23]
seznam * 2

[123, 'abc', 1.23, 123, 'abc', 1.23]

Získání určité části seznamu

In [39]:
seznam = [1,2,3,4,5,6,7,8,9]
seznam[2:5]

[3, 4, 5]

Odříznutí začátku

In [40]:
seznam = [1,2,3,4,5,6,7,8,9]
seznam[2:]

[3, 4, 5, 6, 7, 8, 9]

Odříznutí konce

In [41]:
seznam = [1,2,3,4,5,6,7,8,9]
seznam[:5]

[1, 2, 3, 4, 5]

Při řezání můžeme indexovat i od konce!

In [42]:
seznam = [1,2,3,4,5,6,7,8,9]
seznam[:-2]

[1, 2, 3, 4, 5, 6, 7]

> #### Příklad:
> Vytvořte dva listy obsahující 3 libovolné položky.
> Vytvořte nový seznam obsahující dva poslední prvky z obou seznamů.

In [45]:
a = input("První seznam").split()
b = input("Druhý seznam").split()

c = a[-2:] + b[-2:]
c

['2', '3', 'b', 'c']

### Modifikace seznamu
Změna konkrétní položky

In [32]:
seznam = [123,'abc',1.23]
seznam[0] = 10
seznam

[10, 'abc', 1.23]

In [36]:
seznam = ['a','b','c','d','f']
seznam[1:1] = [10,20]
seznam

['a', 10, 20, 'b', 'c', 'd', 'f']

Připojení položky na konec seznamu

In [67]:
seznam = [123,'abc',1.23]
seznam.append('ahoj')
seznam

[123, 'abc', 1.23, 'ahoj']

Připojení jiného seznamu na konec seznamu

In [69]:
seznam = [123,'abc',1.23]
seznam.extend(['ahoj', 'svete'])
seznam

[123, 'abc', 1.23, 'ahoj', 'svete']

Přidání položky na konkrétní pozici

In [70]:
seznam = [123,'abc',1.23]
seznam.insert(1, 'kuk')
seznam

[123, 'kuk', 'abc', 1.23]

In [75]:
seznam = [123,'abc',1.23]
print(seznam.pop(2))
seznam

1.23

[123, 'abc']

Odebrání položky ze seznamu podle indexu, `pop()` bez parametru odebere poslední prvek.

In [77]:
seznam = ['a','b','c','d','f']
del seznam[2]
seznam

['a', 'b', 'd', 'f']

Uspořádání prvků v seznamu

In [78]:
seznam = ['bb', 'aa', 'cc'] 
seznam.sort()
seznam

['aa', 'bb', 'cc']

Otočení počadí prvků v seznamu

In [79]:
seznam = ['aa', 'bb', 'cc'] 
seznam.reverse()
seznam

['cc', 'bb', 'aa']

### Generování seznamu čísel
Seznam s posloupností čísel se používá v cyklech

In [85]:
list(range(4))

[0, 1, 2, 3]

Nastavení mezí a přírůstku při generování seznamu čísel.

In [86]:
list(range(-6,7,2))

[-6, -4, -2, 0, 2, 4, 6]

> #### Příklad
> 1. Vytvořte list `[1,2,3,4,5]` pomocí `range()`. 
> 2. Vytvořte list `[5,4,3,2,1]` pomocí `range()`.

In [87]:
# Řešení
list(range(1,6))

[1, 2, 3, 4, 5]

In [89]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

Spočítání výskytů nějakého prvku v seznamu.

In [82]:
seznam = [123,"a",123,"b"]
seznam.index('a')

1

### Rozbalení seznamu
Stejně jako `tuple` umí Python rozbalit i seznam. 
Zvažte následující příklad:

In [84]:
values = [1, 2, 3]
a, b, c = values
a, b, c

(1, 2, 3)

Ale pozor, pokud bychom chtěli seznam rozbalit do funkce (funkce probereme za chvíli) tak se seznam aplikuje pouze na první paramter.
Musíme tedy Pythonu říci, aby seznam rozbalil a to uděláme pomocí operátoru `*`

In [91]:
def sum(a, b, c):
    return a + b + c

values = [1, 2, 3]
sum(*values)

6

## Množina (set)
Matematicky pojatá – každý prvek pouze jednou, je neuspořádaná.

Definice výčtem.

In [37]:
{1, 1, 2, 2, 3, 4}
{"a", "b", "a"}

{'a', 'b'}

In [39]:
{1,2,3} == {1,2,3,1}

True

Převod z listu (funguje i naopak)

In [111]:
seznam = ["a","b","c"]
set(1,)

TypeError: 'int' object is not iterable

### Testy nad množinami
Dotaz jestlu je prvek v množině

In [ ]:
mnozina = {1, 2, 3}
5 in mnozina

In [98]:
mnozina = {1, 2, 3}
5 in mnozina

False

Dotaz jestli jsou podmnožinou jiné množiny, existuji i opačný dotaz: `<set1>.issuperset(<set2>)`

In [ ]:
u = {1, 2, 3, 4}
v = {1, 2, 3}
v.issubset(u)

Zjištění počtu prvků v množině

In [ ]:
u = {1, 2, 3, 4}
len(u)

### Množinové operace (nemění vstupní množinu)
Průnik dvou množin, jinak také: `<set1>.intersection(<set2>)`

In [ ]:
u = {1, 2, 3, 4}
v = {3, 4, 5, 6}
u & v

Sjednocení dvou množin, jinak také: `<set1>.union(<set2>)`

In [ ]:
u = {1, 2, 3, 4}
v = {3, 4, 5, 6}
u | v

Rozdíl dvou množin, jinak také: `<set1>.difference(<set2>)`

In [ ]:
u = {1, 2, 3, 4}
v = {3, 4, 5, 6}
u - v

### Modifikace množin
Odebrání prvku z množiny

In [99]:
u = {'a', 'x', 'y' ,'z'}
u.discard('y')
u

{'a', 'x', 'z'}

Přidání prvků do množinu

In [101]:
u = {'a', 'x', 'y' ,'z'}
u.add('a')
u

{'a', 'x', 'y', 'z'}

> #### Příklad:
> Mějme dva seznamy se jmény zaměstnanců. 
> První seznam eviduje jména programátorů, druhý jména inženýrů. 
> Zaměstnanec může být současně na více seznamech. 
> 1. Vypište jména zaměstnanců jež jsou zapsáni na obou seznamech (tj. zaměstnanec je programátor i inženýr)
> 2. Vypište jména všech zaměstnanců.

In [104]:
# Řešení
engineer = {'Honza', 'Pepa', 'Karel', 'Jirka'}
programs = {'Honza', 'Jirka', 'Eva', 'Tomas'}

engineer & programs

{'Honza', 'Jirka'}

## Slovníky (dict)
**Klíč + hodnota**.

Jinde HashTable, Map, asociativní pole, ...

klasické schéma klíč - hodnota
implementováno pomocí hash table 

Vytvoření slovníku výčtem

In [55]:
slovnik = {'one': 1, 'two': 2, 'three': 3, 'jednicka': 1, 'one': 2}
slovnik['one'] = 8
slovnik['novecislo'] = 9
slovnik['novecislo']

9

Vytvoření množiny funkcí `dict()`

In [106]:
dict(one=1, two=2, three=3)

{'one': 1, 'two': 2, 'three': 3}

Vytvoření prázdného slovníku, ne množiny! pomocí `{}`

In [107]:
{}

{}

### Dotazu na slovnik
Získání prvků ze slovníku

In [115]:
slovnik = {'one': 1, 'two': 2, 'three': 3}
print(slovnik['one'])
print('xxx' in slovnik)

1
False

Získání hodnoty ze slovníku, ale s výchozí hodnotou

In [117]:
slovnik = {'one': 1, 'two': 2, 'three': 3}
slovnik.get("XXX", [])

[]

Získání množiny klíčů a hodnot a ze slovníku

In [118]:
slovnik = {'one': 1, 'two': 2, 'three': 3}
print(slovnik.keys())
print(slovnik.values())
print(slovnik.items())

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])
dict_items([('one', 1), ('two', 2), ('three', 3)])

Dotazy na přítomnost prvků ve slovníku

In [119]:
slovnik = {'one': 1, 'two': 2, 'three': 3}
print("one" in slovnik)
print(1 in slovnik)
print(1 in slovnik.values())
print("one" in slovnik.items())
print(("one", 1) in slovnik.items())

True
False
True
False
True

### Modifikace slovníku

Přidáné nebo modifikace položky ve slovníku

In [120]:
slovnik = {}
slovnik["one"] = 1
slovnik

{'one': 1}

Přidání více položok do slovníku

In [122]:
slovnik = {"one":1, "two":2, "three":3}
slovnik.update({"two":4, "five":5})
slovnik

{'one': 1, 'two': 4, 'three': 3, 'five': 5}

Modifikace zánamu ve slovníku

In [123]:
slovnik = {"one":1, "two":2, "three":3}
slovnik["one"] = "jedna"
slovnik

{'one': 'jedna', 'two': 2, 'three': 3}

Odtranění záznamu ze slovníku

In [125]:
slovnik = {"one":1, "two":2, "three":3}
print(slovnik.pop("two"))
slovnik

2

{'one': 1, 'three': 3}

> #### Příklad:
> Potřebujeme evidovat jména lidí a pro každého 0 až N telefonních čísel.
> 
> - Zvolte vhodnou kombinaci datových typů, do které vše uložíte.
> - Připravte si proměnnou adresář.

In [134]:
# Řešení
seznam = {}

> - Vytvořte v adresáři prázdný záznam "Petr Novák".

In [137]:
# Řešení
seznam['Petr Novák'] = []
seznam

{'Petr Novák': []}

> - Přidejte Petrovi telefonní číslo "+420 123 456 789".

In [138]:
# Řešení
seznam['Petr Novák'].append('+420 123 456 789')
seznam

{'Petr Novák': ['+420 123 456 789']}

> - Vypište všechna Petrova čísla.

In [139]:
# Řešení
seznam['Petr Novák']

['+420 123 456 789']

> - Přidejte Petrovi telefonní číslo "+666 987 654 321".

In [140]:
# Řešení
seznam['Petr Novák'].append('+666 987 654 321')
seznam

{'Petr Novák': ['+420 123 456 789', '+666 987 654 321']}

> - Vypište Petrovo poslední číslo.

In [141]:
# Řešení
seznam['Petr Novák'][-1]

'+666 987 654 321'

> - Vypište, zdali v adresáři existuje člověk "Miro Žbirka".

In [142]:
# Řešení
"Miro Žbirka" in seznam

False

> - Vypište celkový počet osob uložených v adresáři.

In [143]:
# Řešení
len(seznam)

1

> - Vypište pouze jména osob uložených v adresáři.

In [144]:
# Řešení
seznam.keys()

dict_keys(['Petr Novák'])

## Buildin function pro praci se seznamy

- `all(iterable)`
- `ant(iterable)`
- `enumerate(iterable, start=0)`
- `filter(function, iterable)`
- `len(iterable)`
- `map(function, iterable, ...)¶`
- `max(iterable, *[, key, default])`
- `min(iterable, *[, key, default])`
- `reversed(seq)`
- `sorted(iterable, *, key=None, reverse=False)`
- `sum(iterable, /, start=0)`
- `zip(*iterables)`
---

#### Další zdroje
- [Multiple assignment and tuple unpacking improve Python code readability](https://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/)